<!DOCTYPE html>
<html>
<head>
    <title>Statify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        body {
            font-family: 'Montserrat';
            background-image: url("/images/bg.jpg");
            background-size: 100%;
        }
        .row {
            padding-bottom: 10px;
        }
    </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on("click", "#logout-link", function () {
        window.location = "../";
    });
</script>
<body class="bg-light">
    <nav class="navbar navbar-static-top" style="background-color: Transparent">
        <div class="col-sm-2" style="left: 43%;">
            <h1 class="navbar-text" style="color: white;">Statify</h1>
        </div>
        <div class="navbar-text pull-right" style="margin-top: 25px;">
            <a id="logout-link" target="_target" href="https://www.spotify.com/us/logout" style="text-decoration: none; color: white;">Logout</a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col-sm-8" style="left: 18%;">
            <div class="panel" style="background-color: rgba(0, 0, 0, 0.35); border-color: white;">
              <div class="panel-heading" style="color: white;">
                  <h5 style="margin-left: 43%;">Your Stats</h5>
              </div>
              <div class="panel-body" style="color: white;">
                  <div class="container col-sm-10" style="left: 18%">
                      <div class="row">
                          <div class="col-sm-5"><strong>Popularity Scale:</strong></div>
                          <div class="col-sm-2"><%= popularity %> / 100</div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><strong>Top Track that was Most Popular:</strong></div>
                          <div class="col-sm-2"> 
                            <figure>
                              <img src="<%= mostPopularTrackPhotoURL %>" width="80%" height="80%">
                            </figure>
                          </div>
                          <div class="col-sm-5">
                            <div class="row">
                              <div>
                                <%= mostPopularTrack %>
                              </div>
                            </div>
                            <div class="row">
                              <div>
                                by <%= mostPopularTrackArtist %>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><strong>Top Track that was Least Popular:</strong></div>
                            <div class="col-sm-2"> 
                            <figure>
                              <img src="<%= leastPopularTrackPhotoURL %>" width="80%" height="80%">
                            </figure>
                          </div>
                          <div class="col-sm-5">
                            <div class="row">
                              <div>
                                <%= leastPopularTrack %>
                              </div>
                            </div>
                            <div class="row">
                              <div>
                                by <%= leastPopularTrackArtist %>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><strong>Most Common Album in Your Top Tracks:</strong></div>
                            <div class="col-sm-2"> 
                            <figure>
                              <img src="<%= commonAlbumPlayedPhotoURL %>" width="80%" height="80%">
                            </figure>
                          </div>
                          <div class="col-sm-5">
                            <div class="row">
                              <div>
                                <%= mostCommonAlbum.album %>
                              </div>
                            </div>
                            <div class="row">
                              <div>
                                by <%= mostCommonAlbum.artist %>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5"><strong>Top 5 Tracks</strong></div>
                        <div class="col-sm-6">
                          <ul style="padding-left: 0">
                          <% for(var i=0; i < top5tracks.length; i++) {%>
                             <li><%= top5tracks[i] %></li>
                          <% } %>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><strong>Average Artists Popularity:</strong></div>
                          <div class="col-sm-2"><%= averageArtists %> / 100</div>
                      </div>
                      <div class="row">
                          <div class="col-sm-5"><strong>Top Artist that was Most Popular:</strong></div>
                          <div class="col-sm-6"><%= mostPopularArtist.name %> (<%= mostPopularArtist.popularity %> / 100)</div>
                      </div>
                        <div class="row">
                          <div class="col-sm-5"><strong>Top Artist that was Least Popular:</strong></div>
                          <div class="col-sm-6"><%= leastPopularArtist.name %> (<%= leastPopularArtist.popularity %> / 100)</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5"><strong>Top 5 Artists</strong></div>
                        <div class="col-sm-6">
                          <ul style="padding-left: 0">
                          <% for(var i=0; i < topArtists.length; i++) {%>
                             <li><%= topArtists[i] %></li>
                          <% } %>
                          </ul>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

</body>

</html>
