<!DOCTYPE html>
<html>
<head>
    <title>Statify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <nav class="navbar navbar-inverse bg-inverse navbar-static-top">
        <h1 class="navbar-text" style="color:#1db954">
            Statify
        </h1>
    </nav>
</head>
<body class="bg-light">
    <div class="pagination-centered">
        <h5>Your Stats</h5>
        <div class="container">
            <div class="row">
                <div class="col-sm">Popularity Scale (out of 100)</div>
                <div class="col-sm"><%= popularity %></div>
            </div>
            <div class="container">
                <div class="col-sm">Top Track that was Most Popular</div>
                <div class="col-sm"><%= mostPopularTrack %> by <%= mostPopularTrackArtist %></div>
            </div>
            <div class="container">
                <div class="col-sm">Top Track that was Least Popular</div>
                <div class="col-sm"><%= leastPopularTrack %> by <%= leastPopularTrackArtist %></div>
            </div>            
        </div>
    </div>
</body>

</html>

